@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BioInsights Portal</a>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genes">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Genes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="diseases">
                <span class="oi oi-beaker" aria-hidden="true"></span> Diseases
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="associations">
                <span class="oi oi-pulse" aria-hidden="true"></span> Associations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drugs">
                <span class="oi oi-eyedropper" aria-hidden="true"></span> Drugs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="publications">
                <span class="oi oi-book" aria-hidden="true"></span> Publications
            </NavLink>
        </div>
    </nav>
</div> *@
